---
layout: default 
---
<style type="text/css">
	#teaser {
		width: 160px;
		border-style: none;
	}
	.card-title {
		white-space: nowrap;
	}

	.card-title b {
		white-space: nowrap; /* Added to prevent title wrapping */
	}
</style>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-6">
        <div class="card">
            <div class="row mb-4">
                <div class="col-md-12">
                    <h4>{{ site.author_bio }}</h4>
                </div>
            </div>
        </div>

        <div class="card">
            <h2 class="card-title text-center">Publications</h2>
            <div class="row mb-4">
                <div class="col-md-2">
                    <img src="assets/img/vit-loss.jpg" class="pub-logo" />
                </div>
                <div class="col-md-10">
                    <p>
                        <a href=""><b>Jumping through Local Minima: Quantization in the Loss Landscape of Vision Transformers</b></a><br>
                        <strong>Natalia Frumkin</strong>, Dibakar Gope, Diana Marculescu<br>
                        <i>ICCV, 2023</i>
                    </p>
                </div>
            </div>
            <div class="row mb-4">
				<div class="col-md-2">
					<img src="assets/img/mobiletl.png" class="pub-logo" />
				</div>
				<div class="col-md-10">
					<p>
						<a href="https://arxiv.org/abs/2212.03246"><b>MobileTL: On-device Transfer Learning with Inverted Residual Blocks</b></a><br>
						Hung-Yueh Chiang, <strong>Natalia Frumkin</strong>, Feng Liang, Diana Marculescu<br>
						<i>AAAI, 2023</i>
					</p>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-2">
					<img src="assets/img/rl-tune.png" class="pub-logo" />
				</div>
				<div class="col-md-10">
					<p>
						<a href="https://openreview.net/forum?id=_trbCTrj9xs"><b>RL-Tune: A Deep Reinforcement Learning Assisted Layer-wise Fine-Tuning Approach for Transfer Learning</b></a><br>
						Tanvir Mahmud, <strong>Natalia Frumkin</strong>, Diana Marculescu<br>
						<i>ICML Pre-Training Workshop, 2022</i>
					</p>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-2">
					<img src="assets/img/cnn-based.png" class="pub-logo img-fluid"/>
				</div>
				<div class="col-md-10">
					<p>
						<a href="https://ieeexplore.ieee.org/abstract/document/8803016"><b>CNN-Based Indoor Occupant Localization via Active Scene Illumination</b></a><br>
						Jinyuan Zhao, <strong>Natalia Frumkin</strong>, Prakash Ishwar, Janusz Konrad<br>
						<i> ICIP 2019</i><br>
					</p>
				</div>
			</div>
			
			<div class="row mb-4">
				<div class="col-md-2">
					<img src="assets/img/vip.jpg" class="pub-logo img-fluid"/>
				</div>
				<div class="col-md-10">
					<p>
						<a href="https://openaccess.thecvf.com/content_cvpr_2018_workshops/w32/html/Zhao_Privacy-Preserving_Indoor_Localization_CVPR_2018_paper.html"><b>Privacy-Preserving Indoor Localization via Active Scene Illumination</b></a><br>
						Jinyuan Zhao, <strong>Natalia Frumkin</strong>, Janusz Konrad, Prakash Ishwar<br>
						<i>CVPR Workshop, 2018</i><br>
					</p>
				</div>
			</div>		
        </div>

        {% if site.show_author_work_experiences == true %}
        <div class="card">
            <h2 class="card-title text-center">Work Experience</h2>
            <div class="row mb-4">
                <div class="col-md-12"> <!-- Increase the column size to col-md-10 -->
                    <br />
                    <div class="row">
                        {% for exp in site.author_work_experiences %}
                            {% if exp.visibility == true %}
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="/assets/img/{{ exp.company_logo }}" class="company-logo" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">{{ exp.company_name }}</h4>
                                                <h5 class="card-subtitle">{{ exp.designation }}</h5>
                                                
                                                <p class="card-subtitle" style="margin-top: 10px;">{{ exp.timeline }}</p>
                                                <p class="card-text">{{ exp.description }}</p>
                                                <p class="card-text"><a href="{{ exp.company_url }}">{{ exp.company_url }}</a></p> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}  
                    </div>
                </div>
            </div>
        </div>
        
        
        
        {% endif %}

        {% if site.show_author_education_details == true %}
        <div class="card">
            <h2 class="card-title text-center">Education</h2>
            <div class="row mb-4">
                <div class="col-md-12"> <!-- Increase the column size to col-md-10 -->
                    <br />
                    <div class="row">
                        {% for detail in site.author_education_details %}
                            {% if detail.visibility == true %}
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="/assets/img/{{ detail.college_logo }}" class="company-logo" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title">{{ detail.college_degree }}</h4>
                                                <h5 class="card-subtitle">{{ detail.college_name }}</h5>
                                                <p class="card-text">{{ detail.description }}</p>
                                                <p class="card-text"><a href="{{ detail.college_url }}">{{ detail.college_url }}</a></p>                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}  
                    </div>
                </div>
            </div>
        </div>
        
        {% endif %}
    <div class="d-flex justify-content-center mb-4"> <!-- Use justify-content-center class to center-align the items -->
        <h6>
            <i class="fas fa-envelope"></i> {{ site.author_email }}
        </h6>
        <span class="mx-2"></span> <!-- Add two tabs between the items using margin -->
        {%- include github_follow_button.html -%}
        <span class="mx-2"></span> <!-- Add two tabs between the items using margin -->
        {%- include twitter_follow_button.html -%}
    </div>
</div>
</div>